<table class="table class=" table-info"">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Deletion</th>
        </tr>
    </thead>
    <tbody>    
        <tr>
            <th scope="row">1</th>
            <td>John</td>
            <td>email@Doe</td>
            <td>Student</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
             
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>John</td>
            <td>email@Doe</td>
            <td>Student</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>John</td>
            <td>email@Doe</td>
            <td>Student</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>